<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>QuickText</title>
    <link rel="stylesheet" href="/css/edit.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="wrapper">
        <h2>Edit: <%= filename %></h2>

        <form action="/<%= filename %>/update" method="POST">
            <textarea name="text" rows="10" cols="50"><%= content %></textarea>
            <br>
            <button type="submit">Update</button>
          </form>
          
    </div>
</body>

</html>
