<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>QuickText</title>
    <link rel="stylesheet" href="/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="wrapper">
        <h1 class="heading">Create a Snippet</h1>
        <form action="/create" method="POST" class="form-container">
            <input type="text" name="title" placeholder="Title goes here" required>
            <textarea name="text" rows="30" cols="50" placeholder="Description" required></textarea>
            <button type="submit">Create URL</button>
        </form>
    </div>
</body>

</html>
