<!DOCTYPE html>
<html>

<head>
  <title>Success</title>
  <link rel="stylesheet" href="/css/success.css">

</head>

<body>
  <div class="container">
    <h2>✅ File Written Successfully</h2>
    <div class="url">
      URL: <a href="<%= fileUrl %>" target="_blank">
        <%= fileUrl %>
      </a>
    </div>
  </div>
</body>

</html>