<!DOCTYPE html>
<html>

<head>
  <title>Success</title>
  <link rel="stylesheet" href="/css/success.css">

</head>

<body>
  <div class="container">
    <h2>🎉 Snippet Created Successfully!</h2>
<p>Your text has been saved. Share the link below:</p>

    <div class="url">
      URL: <a href="<%= fileUrl %>" target="_blank">
        <%= fileUrl %>
      </a>
    </div>
  </div>
</body>

</html>